nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow : 0px 0.5px 0px 0px rgb(218, 218, 218);
}
p{
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    padding: 2%;
}
button{
    background-color: #1606cac3;
    height: 50px;
    width: 10%;
    margin-top: 2%; 
    color: white;
    margin-left: auto;
    margin-right: 2%;
    font-weight: 500;
    border-radius: 10px;    
    cursor: pointer;
}
.trips{
    padding: 5%
}